@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
   
        <h2>Welcome to the NSCC Course Map Application</h2>

        @*<img id="CourseMapImg" src="~/images/NSCCCourseMapERD.jpg" />*@
 
</div>