<ion-view view-title={{semester.name}}>
  <ion-content>
   <ion-list>
     <ion-item class="item-remove-animate item-icon-right" auto-list-divider auto-list-divider-value="{{course.concentrationTitle}}"
         ng-repeat="course in semester.courseOfferings | orderBy : ['concentrationTitle','courseTitle']" type="item-text-wrap" href="#/tab/ACourses/{{course.courseId}}">
     
        <h2>{{course.courseTitle}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
