@model ScottRafael_NSCCCourseMap.Models.Concentration

@{
    ViewData["Title"] = "Details";
}

<h2>Concentration Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Course Program
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Program.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
